<div class="container mt-5">
  <h1>タグの新規作成</h1>
  <div id="tag_new">
    <%= render 'tag_new',tag: @tag %>
  </div>
</div>

<div class="container mt-5">
  <h1>タグ一覧</h1>
  <div id="tag_lists">
    <%= render 'tag_list',admin_tags: @admin_tags %>
  </div>
</div>

