
  <title>会員一覧</title>
</head>
<body>
  <div class="container">
  <h3 class="mt-1 mb-4">会員一覧</h3>
  <div class="row">
   <%= render partial: "user_index", locals: { users: @users } %>
  </div>
</div>
  <style>
    .card {
      height: 100%; /* カードの高さを100%に設定 */
    }
  </style>