@use '~bootstrap/scss/bootstrap';
@import './top';
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Noto+Serif+JP:wght@300;400&family=Zen+Maru+Gothic&display=swap');

  header {
    background-color: rgba(105, 105, 105, 0.3);
    height: 40px;
  }
footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}
footer.top {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
}

p {
    margin: 0; /* デフォルトのマージンを削除 */
}

body {
  font-family: 'BIZ UDMincho', serif;
  font-family: 'Noto Serif JP', serif;
  padding-bottom: 40px;
  background-image: url("../images/暗めの背景.png");
  background-size: cover; /* 画像を要素全体に表示させます */
}
body.image {
  font-family: 'BIZ UDMincho', serif;
  font-family: 'Noto Serif JP', serif;
  padding-bottom: 40px;
  background-image: url("../images/背景.png");
  background-size: cover; /* 画像を要素全体に表示させます */
}
body {
  font-family: 'BIZ UDMincho', serif;
  font-family: 'Noto Serif JP', serif;
  padding-bottom: 0px;
  background-image: url("../images/暗めの背景.png");
  background-size: cover; /* 画像を要素全体に表示させます */
}

.custom-select {
  padding: 5px;
  border: none;
  border-radius: 3px;
  width: 150px; /* 幅の設定 */
}
.white-text {
  color: white; /* テキストの色を白に設定 */
}

  .container{
    background: rgba(255, 255, 255, 0.5);
  }

   
