
</div>
<div class="container mt-4">
    <%= render 'enduser/posts/posts', {posts: @posts} %>
</div>

<div class="fixed-bottom d-flex justify-content-end p-3">
  <%= link_to "新しい投稿", new_post_path, class: "btn btn-primary btn-lg" %>
</div>

