
<% if @endusers.exists? %>
  <table>
    <thead>
      <tr>
        <th>名前</th>
        <th>フォロー数</th>
        <th>フォロワー数</th>
      </tr>
    </thead>
    <tbody>
      <% @endusers.each do |enduser| %>
        <% unless enduser.is_deleted %>
          <tr>
            <td><%= link_to enduser.name, user_path(enduser) %></td>
            <td><%= enduser.followings.count %></td>
            <td><%= enduser.followers.count %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>