<div class="container">
  <div class="content">
    <%= render partial: 'follow_list', locals: { followings: @followings } %>
  </div>
</div>

<style>
  .container {
    
    display: flex;
    justify-content: center;
  }
  .content {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
</style>