<div class="container">
  <div class="content">
    <%= render partial: 'follow_list', locals: { followings: @followings } %>
  </div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
  }
  .content {
    width: 500px;
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
</style>